#Junk folders
Library/*
Temp/*
Assets/Tests/*
Assets/Tests*
JoystickMappings/*

#Junk files
Assets/Tests.meta
Assembly-CSharp*
Assembly-UnityScript*
Assembly-Boo*
*.sln
*.userprefs
*.usertasks
*.orig.meta
*.orig

