#Junk folders
Library/*
Temp/*
Assets/Tests/*
Assets/Tests*
JoystickMappings/*
Build/*
Assets/UnityVS*
obj/*

#Junk files
Assets/Tests.meta
Assembly-CSharp*
Assembly-UnityScript*
Assembly-Boo*
*.sln
*.suo
*.csproj
*.userprefs
*.usertasks
*.orig.meta
*.orig
*.pfx
*.pfx.meta
*.keystore

